.app {
	width: 50%;
}

.tictactoe {
	position: relative;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 30%;
	left: 0;
	width: 300px;
	height: 300px;
}

.tttable {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #eee;
	width: 300px;
	height:300px;
}

.tttable td {
	width: 100px;
	height: 100px;
	border: 1px solid #eee;
	font-size: 50px;
	text-align: center;
}

.alert {
	display: none;
	width: 400px;
	height: 100px;
	position: relative;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 10px 10px 5px #888;
}

.turn {
	width: 400px;
	height: 100px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 60%;
	left: 70%;
}

.reset {
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
}